page-login {
  .content{
    background: url('../../../assets/imgs/auth.jpg') no-repeat
  }

  .section-input{
    margin-top: 12%;
  }

  .content .section-img{
    width: 53%;
    margin: auto;
    margin-top: 9%;
  }

  .input-radius{
    border-radius: 2vh;
  }

  .section-login{
    margin: auto;
    margin-top: 10%;
  }

  .btn-sing{
    color: #ffffff;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .btn{
    color: #ffffff;
    border: 1px solid #ffffff;
    width: 45vh;
    background: #000000;
  }
  .btn:hover{
    color: #ffffff;
    border: 1px solid #ffffff;
  }
  .text{
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 3vh;
  }

  .required{
    color: red;
    display: flex;
    justify-content: center;
  }
}




