<ion-content padding class="content">
  <section class="section-img">
    <img src="assets/imgs/tu-tattoo.png" alt="img">
  </section>
  <section class="section-input">
    <form [formGroup]="loginForm">
      <ion-list>
        <section class="section-login">
          <ion-list>
            <ion-item class="input-radius">
              <ion-label floating>Username</ion-label>
              <ion-input type="text" formControlName="email" (ionChange)="ionChange($event)"></ion-input>
            </ion-item>
          </ion-list>
          <div *ngIf="showMessage === 1">
            <p class="required">{{message}}</p>
          </div>
          <ion-list>
            <ion-item class="input-radius">
              <ion-label floating>Password</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
          </ion-list>
        </section>
      </ion-list>
    </form>
    <div class="btn-sing">
      <button ion-button color="dark" outline class="btn" [disabled]="!loginForm.valid" (click)="login()">Entrar</button>
    </div>
  </section>
</ion-content>
<ion-footer *ngIf="!hideFooter">
  <p class="text">Crea una cuenta&nbsp;<strong (click)="goRegister()"> Ahora mismo</strong></p>
  <p class="text" (click)="forgotPasword()"> <strong> Has olviado tu contraseña?</strong></p>
</ion-footer>