<ion-header>
  <ion-navbar color="dark">
    <ion-buttons end>
      <button ion-button icon-end (click)="close()">
        Cerrar
        <!-- <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon> -->
      </button>
    </ion-buttons>
    <ion-title>
      Vista Orden
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="content">
  <section class="data_client">
    <form [formGroup]="formView">
      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ion-item>
                <ion-label floating>Nombre</ion-label>
                <ion-input type="text" formControlName="name" [disabled]="flagOrder"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col col-6>
              <ion-item>
                <ion-label floating>Apellido</ion-label>
                <ion-input type="text" formControlName="last_name" [disabled]="flagOrder"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col col-12>
              <ion-item>
                <ion-label floating>Correo Cliente</ion-label>
                <ion-input type="text" formControlName="email" [disabled]="flagOrder"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col col-6>
              <ion-item>
                <ion-label floating>Telefono</ion-label>
                <ion-input type="text" formControlName="phone" [disabled]="flagOrder"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col col-6>
              <ion-item>
                <ion-label floating>Celular</ion-label>
                <ion-input type="text" formControlName="celPhone" [disabled]="flagOrder"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </form>
  </section>

  <div class="img-separator">
    <img src="assets/imgs/separator.png" alt="separator">
  </div>

  <section class="section-tattoo">
    <form [formGroup]="formView2">
      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <ion-label floating>Nombre Artista</ion-label>
                <ion-input type="text" formControlName="nameTatto" [disabled]="flagOrder"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col col-12>
              <ion-item>
                <ion-label floating>Nombre tienda</ion-label>
                <ion-input type="text" formControlName="nameStore" [disabled]="flagOrder"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col col-6>
              <div>
                <img [src]="notPhoto" alt="imgNophoto">
              </div>
            </ion-col>

            <ion-col col-6>
              <div>
                <img [src]="notPhoto" alt="imgNophoto">
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </form>
  </section>


  <section class="btn-modal">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button margin-top ion-button color="dark" full (click)="update()" *ngIf="flagOrder"  >
            EDITAR
          </button>
          <button margin-top ion-button color="dark" full *ngIf="!flagOrder">
            ACTUALIZAR
          </button>


        </ion-col>

        <ion-col col-6>
          <button margin-top ion-button color="dark" full (click)="cancel()">
            CANCELAR
          </button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </section>

</ion-content>
