<ion-header>
  <ion-navbar color="dark">
    <ion-buttons end>
      <button ion-button icon-end (click)="close()">
        Cerrar
        <!-- <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon> -->
      </button>
    </ion-buttons>
    <ion-title>
      {{ messageForgot }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="content">
  <section class="forgot" *ngIf="sendEmailPassword === 0">
    <ion-label class="text">Ingese el email de su cuenta</ion-label>
    <form [formGroup]="formForgot">
      <ion-list>
        <ion-item class="item-form">
          <ion-input
            type="text"
            placeholder="Email"
            formControlName="email"
            (ionChange)="ionChange($event)"
          ></ion-input>
        </ion-item>
        <div class="required" *ngIf="showMessage">
          <span>{{ message }}</span>
        </div>
      </ion-list>
    </form>
    <button
      ion-button
      full
      color="dark"
      [disabled]="!formForgot.valid"
      (click)="validEmailForgotPassword()"
    >
      Validar
    </button>
  </section>

  <section class="sendForgot" *ngIf="sendEmailPassword === 1">
    <form [formGroup]="formSendForgot">
      <ion-list>
        <ion-item class="item-form">
          <ion-input
            type="password"
            placeholder="Contraseña nueva"
            formControlName="password"
          ></ion-input>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item class="item-form">
          <ion-input
            type="password"
            placeholder="Repita su nueva contraseña"
            formControlName="confirmPassword"
          ></ion-input>
        </ion-item>
      </ion-list>
    </form>
    <button
      ion-button
      full
      color="dark"
      [disabled]="!formSendForgot.valid"
      (click)="updateForgotPassword()"
    >
      Cambiar contraseña
    </button>
  </section>
</ion-content>
