forgot-password {
  .content {
    background: url("../../../../assets/imgs/auth.jpg") no-repeat;
  }

  .content .forgot {
    margin-top: 50%;
  }

  .content .forgot .text {
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 3.2vh;
  }

  .required {
    color: red;
    margin-left: 5%;
  }

  .content .sendForgot {
    margin-top: 51%;
  }

  .item-form {
    border-radius: 2vh;
  }
}
