<ion-header>
  <ion-navbar color="dark"> </ion-navbar>
</ion-header>
<ion-content class="content">
  <section class="section-register" *ngIf="show === 1">
    <form [formGroup]="registerForm">
      <ion-list class="list-item">
        <ion-item class="item-form">
          <ion-label floating>Nombre</ion-label>
          <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>
        <ion-item class="item-form">
          <ion-label floating>Apellido</ion-label>
          <ion-input formControlName="last_name" type="text"></ion-input>
        </ion-item>

        <ion-item class="item-form">
          <ion-label floating>Correo electronico</ion-label>
          <ion-input
            formControlName="email"
            type="email"
            (ionChange)="validEmail($event)"
          ></ion-input>
        </ion-item>

        <div class="requiered" *ngIf="showMessage === 1 || showMessage === 2">
          <span>{{ message }}</span>
        </div>

        <ion-item class="item-form">
          <ion-label floating>Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>

        <ion-item class="item-form">
          <ion-label floating>Repita la contraseña</ion-label>
          <ion-input
            formControlName="repetPassword"
            type="password"
          ></ion-input>
        </ion-item>
      </ion-list>
    </form>
  </section>
  <section *ngIf="show === 2" class="section-register">
    <form [formGroup]="registerFinish">
      <ion-list class="list-item">
        <ion-item class="item-form">
          <ion-label floating>Alias</ion-label>
          <ion-input formControlName="alias" type="text"></ion-input>
        </ion-item>
        <ion-item class="item-form">
          <ion-label floating>Años Experiencia</ion-label>
          <ion-input formControlName="ageExp" type="number"></ion-input>
        </ion-item>

        <ion-item class="item-form">
          <ion-label floating>Celular</ion-label>
          <ion-input formControlName="phone" type="number"></ion-input>
        </ion-item>

        <ion-item class="item-form">
          <ion-label floating>url facebook</ion-label>
          <ion-input formControlName="urlFacebook" type="text"></ion-input>
        </ion-item>

        <ion-item class="item-form">
          <ion-label floating>url instagram </ion-label>
          <ion-input formControlName="urlInstagram" type="text"></ion-input>
        </ion-item>
      </ion-list>
    </form>
  </section>
</ion-content>

<ion-footer class="ion-footer">
  <div *ngIf="show === 1">
    <button
      margin-top
      ion-button
      color="dark"
      (click)="userValid()"
      [disabled]="!registerForm.valid"
      full
    >
      CREAR CUENTA
    </button>
  </div>
  <div *ngIf="show === 2">
    <button
      margin-top
      ion-button
      color="dark"
      (click)="finish()"
      [disabled]="!registerFinish.valid"
      full
    >
      TERMINAR
    </button>
  </div>
</ion-footer>
