page-register{
  .content{
    background: url('../../../assets/imgs/auth.jpg') no-repeat;
  }

  .content .section-register{
    width: 95%;
    margin-left: 3%;
    margin-top: 9%;
  }

  .content .section-register .item-form{
    height: 70%;
    border: #000000 solid;
    border-radius: 8px;
  }

  .ion-footer .btn{
    height: 49px;
    font-size: 3vh;
  }

  .requiered{
    color: red;
    margin-left: 5%;
  }

  ion-header ion-icon.back-button-icon.icon {
    color: map-get($colors, light);
}


}